.cart {
  margin-top: 147px;
  color: var(--color-primary);
  font-size: 20px;
  margin-bottom: 10px;
}
.wrapper {
  color: var(--color-primary);
  gap: 80px;
}
.paper {
  background-color: unset !important;
  padding-top: 30px;
}
.quantity {
  margin-right: unset !important;
}

.note {
  margin-top: 147px;
  padding: 0 15px;
  font-size: 30px;
  line-height: 1.2;
  color: var(--color-primary);
}
.address {
  padding: 10px 0;
}
.total {
  display: inline-block;
  margin-right: 3px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.bill {
  font-size: 30px;
  // color: blue;
  font-weight: bold;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-line);
}

.product-item {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-line);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.product-item input {
  padding: unset;
}
.subquantity {
  width: 100px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}
.product-item > .name {
  width: 25%;
  text-transform: lowercase;
}
.left {
  width: 70%;
}
.right {
  width: 30%;
}
.title {
  font-size: 25px;
}

.image {
  width: 90px;
  height: 90px;
}
.price-respontive {
  display: none;
}
.title :nth-child(1) {
  width: unset;
}
.column {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 40%;
}
@media screen and (max-width: 1023px) {
  .wrapper {
    display: block !important;
  }
  .right,
  .left {
    width: 100%;
    margin-top: 40px;
  }
  .total {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .paper {
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .cart {
    margin-top: 120px;
  }
  .title-subtotal,
  .subquantity {
    display: none;
  }
  .quantity {
    font-size: 15px !important;
  }
  .quantity button {
    padding: 0 2px;
  }
  .price-respontive {
    display: inline-block;
  }
  .image {
    width: 70px;
    height: 70px;
  }
  .title {
    font-size: 20px;
  }
  .paper {
    padding-top: 5px;
  }
}
