.wrapper {
  padding: 0 50px;

  color: var(--color-primary);
  font-size: 20px;
  display: flex;
  gap: 60px;
}
.sub {
  margin-top: 125px;
  padding: 0 50px;
  color: #94af9f;
}
.content {
  position: relative;
  margin-bottom: 300px;
}
.image {
  width: 100%;
}
.information {
  position: absolute;
  padding-right: 20px;
  top: 80%;
  right: 150px;
  z-index: 1;
  background: var(--background-main);
}
.left {
  width: 50%;
}
.right {
  width: 50%;
}
.title {
  font-size: 40px;
  margin: 40px 50px;
  color: var(--green);
}
.name {
  color: var(--green);
  font-size: 25px;
  margin: 20px 0;
  line-height: 1.2;
}
.date,
.icon {
  color: #94af9f;
  font-size: 18px !important;
}
.date > span {
  margin: 0 10px;
}
.description {
  margin-bottom: 20px;
  margin: 10px 0;
  line-height: 1.6;
}
.image {
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 1279px) {
  .content {
    margin-bottom: 330px;
  }
  .information {
    right: 110px;
  }
}
@media screen and (max-width: 1023px) {
  .information {
    padding: unset;
    right: 0px;
  }
  .image {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 1023px) {
  .wrapper {
    display: block;
  }
  .wrapper > div {
    width: 100%;
  }
  .sub {
    margin-top: 85px;
  }
  .title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 25px;
  }
}
