.wrapper {
  margin: 50px 60px;
  color: var(--color-primary);
}
.laptop {
  display: flex;

  justify-content: space-between;
  gap: 60px;
}
.left {
  margin-top: 40px;
  width: 25%;
}
.right {
  position: relative;
  width: 75%;
}
.title {
  font-size: 30px;
}
.title-respontive {
  font-size: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.sort {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: end;
  justify-content: space-between;
}
.filter {
  display: none;
}
.myVideo {
  width: 100%;
  // height: 100%;
}
.left img {
  width: 100%;
  height: 100%;
}
.pagination {
  width: 100%;

  display: flex;
  justify-content: center;
}
.pagination svg,
.pagination button {
  font-size: 18px;
  color: var(--color-primary);
}
@media screen and (max-width: 1023px) {
  .left {
    display: none;
  }
  .wrapper {
    display: block;
  }
  .title {
    display: none;
  }
  .filter {
    display: flex;
    align-items: center;

    padding-bottom: 10px;
    display: block;
  }
  .right {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .width-sort {
    width: 200px !important;
  }
}
@media screen and (max-width: 767px) {
  .title-respontive {
    display: flex;
  }
  .width-sort {
    width: 100px !important;
  }
}
