.flashsale {
  margin: 100px 0;
  color: var(--color-primary);
}
.flashsale .slick-list {
  padding-left: 6px;
}
.flashsale .left {
  margin-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.flashsale .right {
  margin: 50px 100px;
  position: relative;
}
.flashsale .information {
  margin-top: 20px;
  padding-bottom: 20px;
}
.flashsale .title {
  text-transform: uppercase;
}
.flashsale .saleprice {
  position: absolute;
  bottom: 0;
}
.flashsale .item {
  position: relative;
  margin-right: 20px;

  height: 200px;
}

.flashsale .item img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
//  chinhr mui ten
.flashsale .slider-icon {
  font-size: 50px !important;
  cursor: pointer !important;
  position: absolute;
  z-index: 1;
}
.flashsale .left-icon {
  bottom: 50%;
  left: -50px;
}
.flashsale .right-icon {
  bottom: 50%;
  right: -40px;
}

// add product cart
.addtocart {
  cursor: pointer;
}
.addtocart:hover .icon-text {
  visibility: visible;
  padding-left: 15px;
  width: 120px;
  font-size: 15px;
  background: var(--background-header-contact);
}

.icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
  background: var(--background-header-contact);
  padding: 5px;
  display: flex;
  justify-content: center;
  transition: all 0.25s linear;
}
.icon-text {
  visibility: hidden;
  color: white;
  width: 20px;
  font-size: 0.5px;
  position: absolute;
  bottom: 10px;
  right: 18px;
  border-radius: 50px;
  background: transparent;
  padding: 3px;

  transition: all 0.25s linear;
}
.icon svg {
  font-size: 20px;
  fill: white;
}
@media screen and (max-width: 767px) {
  .flashsale {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .flashsale .left {
    margin-left: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .flashsale .right {
    margin: 50px 40px;
  }

  .addtocart:hover .icon-text {
    padding-left: 7px;
    width: 90px;
    font-size: 12px;
  }
}
